:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  border: 1px solid black;
}

/* gris oscuro #757575 */
#start {
  margin: auto;
  position: fixed;
  bottom: 10px; /* Ajusta la distancia desde abajo según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;

  --color: #4caf50;
  --dark-color: color-mix(in srgb, var(--color), black 25%);

  font-weight: bold;
  font-size: medium;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color);
}

#start:hover {
  border: 2px solid white;
}

#start:active {
  border: 1px solid var(--dark-color);
  border-bottom-width: 8px;
}

#board {

}